<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">iKnow</h1>
          <p class="lead">IMERI Digital Library and Knowledge Centre</p>
          <p class="lead">Welcome to iKnow IMERI FKUI<br>
            A medical-based knowledge center and digital library developed by IMERI FKUI. This media preserves and enables easy and open access to all types of digital literacy content, such as publication journal articles, case reports, books, and theses that are produced or affiliated with the academic community within the Faculty of Medicine, Universitas Indonesia.</p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner.jpg 1200w, assets/dspace/images/banner.jpg 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner.jpg 1200w, assets/dspace/images/banner.jpg 768w">
    <img alt="" src="assets/dspace/images/banner.jpg"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
